body{
    background-color:rgba(245, 65, 65, 0.685);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: top;
}

.box{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 4px;
}
label{
    color:black;
    text-transform: capitalize;
}
